# Archivos temporales de phpMyAdmin
phpMyAdmin/tmp/*
# Carpeta tmp de xampp
tmp/*
# Carpeta de configuraciones de apache
apache/conf/*
# Configuraciones de php
php/php.ini
# Configuración MySQL
mysql/bin/my.ini
# Logs de apache
apache/logs/*
# Configuraciones y logs xampp
xampp-control.ini
xampp-control.log
# Archivos MySQL (exceptuando bases de datos)
mysql/data/mysql/
mysql/data/ib*
mysql/data/mysql.pid
mysql/data/*.log

